.app {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.registerFunctions {
  background-color: dimgray;
  border: double black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userFunctions {
  background-color: dimgray;
  border: double black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  border: double black;
  padding: 4px;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  background-color: rgb(160, 196, 208);
  border: double rgb(0, 0, 0);
  width: 100%;
}

input[type="password"] {
  border: double black;
  padding: 4px;
  transition: width 0.4s ease-in-out;
}

input[type="password"]:focus {
  background-color: rgb(160, 196, 208);
  border: double rgb(0, 0, 0);
  width: 100%;
}

.greeting {
  max-width: fit-content;
  border-bottom: double black;
  font-family: cursive;
}

.logOut {
  max-width: fit-content;
  max-height: fit-content;
  margin-bottom: 10px;
}

.createPost {
  display: flex;
  align-items: center;
  background-color: dimgray;
  border: double black;
  flex-direction: column;
}

.createTitle {
  font-size: larger;
  color: black;
  font-weight: bold;
  padding: 10px;
  max-width: fit-content;
  border-left: double black;
  border-right: double black;
}
.title {
  max-width: 250px;
}
.description {
  max-width: 250px;
  transition: height 0.4s ease-in-out;
}

.price {
  max-width: 100px;
}

.location {
  max-width: 250px;
}

.deliver {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: double black;
  min-width: 100px;
  max-width: 100px;
  padding: 5px;
}

.newPostButton {
  max-width: fit-content;
  padding: 10px;
  font-weight: bold;
}

.post {
  background-color: rgb(115, 163, 215);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
}

.pHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postDetails {
  border: double dimgray;
  padding: 10px;
  min-width: 95%;
  background-color: antiquewhite;
}

.delivery {
  background-color: antiquewhite;
  max-width: fit-content;
  padding: 5px;
  border-left: double black;
  border-right: double black;
  border-bottom: double black;
}

.msgButton1 {
  max-width: fit-content;
  padding: 5px;
  margin: 10px;
}
